# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# env
.env
*.local

# ide and editor
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# log and database
*.log
*.sql

# os
.DS_Store
.DS_Store?
.Trashes
ehthumbs.db
Thumbs.db
